<a href="https://colab.research.google.com/github/raimukul/python/blob/master/python_L14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Membership operator
```
list1=[10,20,30]
print(10 in list1)
print(40 not in list1) 
```

In [1]:
list1=[10,20,30]
print(10 in list1)

True

In [2]:
print(40 in list1)

False

In [3]:
print(40 not in list1)

True

In [5]:
s='hello! learing pythn is very very easy!!'
print('hello' in s)
print('l' in s)
print('z' in s)
print('z' not in s)
print(' ' in s)

True
True
False
True
True

#Operator Precedence:
---Generally for all programming languages-------

```
1st priority --> () ==> Paranthesis

2nd priority --> unary operator(~a)

3rd priority --> binary operator(a+b)

4th priority --> ternary operator(3 arguments)

5th priority--> assignment operator
```

-----priority level for python------

```
1. () ==> paranthesis
2. ** ==>exponential operator
3. ~,- ==>unary operator
4. *,/,%,//
5. +,-
6. <<,>>
7. &
8. ^
9. |
10. >,>=,<,<=,==,!=
11. =,+=,-=,*=,.....
12. is,is not
13. in,in not
14. not
15. and
16. or
```

In [6]:
a=30
b=20
c=10
d=5
print((a+b)*c/d)

100.0

In [8]:
a=30
b=20
c=10
d=5
print((a+b)*(c/d))
print(a+(b*c)/d)

100.0
70.0

#Module
--> a group of functions, variables, classes.
#library
--> a group of module


How to import module in python??
```
import math
print(math.sqrt(16))
print(math.pi)
```

In [9]:
print(math.sqrt(16))

NameError: ignored

In [11]:
import math
print(math.sqrt(16))
print(math.pi)

4.0
3.141592653589793

In [13]:
#we can change module name by using "as newName"
import math as m
print(m.sqrt(25))
print(m.pi)

5.0
3.141592653589793

In [17]:
#if we not want to write m everywhere use"from math import function"
from math import sqrt,pi
print(sqrt(25))
print(pi)

5.0
3.141592653589793

In [18]:
# we can import all using "from math import *" but it is not recommended
from math import*
print(sqrt(25))
print(pi)

5.0
3.141592653589793



```
#math module function list
1. sqrt()
2. ceil()
3. floor()
4. pow(x,y)
5. factorial()
6. gcd()
7. sin()
8. cos()
#math module constants
1. pi
2. e
3. inf ==>infinity
4. nan ==>not a number
```

In [19]:
from math import*
r=int(input("Enter radius of circle:"))
area=pi*r**2
print("the area of circle is",area)

Enter radius of circle:7
the area of circle is 153.93804002589985

#Input and output statements:

```
-----for Python 2-----
--> read data from keyboard
   1. x=raw_data("Enter some data") 
       --> str type always
       --> we require to use typecasting functions.
   2. y=input("Enter some data")
       --> not consider as str type what every type provided will considered.
       --> we are not required typecasting

-----for Python 3-----
1.  x=input("Enter some value")
   --> str type always
   --> we require to use typecasting functions. 
```

In [23]:
x=input("Enter any number:")
type(x)

Enter any number:10.5

str

In [24]:
type(input("Enter any number:"))

Enter any number:10.5

str

In [25]:
x=input("enter 1st number")
y=input("enter 2nd number")
i=int(x)
j=int(y)
print("Sum of number:",i+j)

enter 1st number10
enter 2nd number20
Sum of number: 30

In [26]:
x=int(input("enter 1st number"))
y=int(input("enter 2nd number"))
print("Sum of number:",x+y)

enter 1st number10
enter 2nd number20
Sum of number: 30

In [29]:
print("Sum is:",int(input('1st value'))+int(input('2nd number')))

1st value10
2nd number20
Sum is: 30